body.theme-override {
    --primary: red;
    --highlight: red;
    --border-radius: 0;
    --shadow: none;
    --background-gradient: linear-gradient(to bottom, black 0%, red 100%);
    --button-gradient:linear-gradient(90deg, rgba(89, 193, 115, 1) 0%, rgba(161, 127, 224, 1) 62%, rgba(110, 76, 172, 1) 100%);
}

.logo {
    -webkit-text-stroke-color: red;
}

.logo::after {
    border-color: red;
}

.header-text {
    width: 100%;
    display: inline-block;
    -webkit-text-stroke: red 2px;
    cursor: unset;
    font-weight: normal;
    /* margin: 0px 20px 20px 2.5%; */
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 8px;
    paint-order: fill stroke;
}


/* .header-text:after {
    border: 2px solid red;
    background-color: black;
    width: 100%;
    display: block;
    position: relative;
    top: -16px;
    left: auto;
    content: " ";
    height: 10px;
    z-index: -1;
} */

.header-old {
    background: transparent;
    text-align: center;
    /* box-shadow: black 0px 2px 10px, black 0px -2px 10px; */
    color: black;
    font-family: "Camaraderie";
    font-size: 2em;
    /* height: 3.2em; */
    position: relative;
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    /* z-index: 10; */
}

body {
    background: linear-gradient(to bottom, black 0%, red 100%);
    /* overflow-y: hidden; */
    /* position: relative; */
    background-attachment: fixed;
}

@media (max-width: 1050px) {
    .row {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .column {
        border-left: none !important;
        border-right: none !important;
    }

    .column > div {
        margin-top: 0 !important;
    }
}

.tier-entry {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    text-shadow: 0 0 1px black;
    width: 75%;
}

.column {
    height: auto;
}

input[type="radio"] {
    transform: scale(2);
    width: auto;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px black;
    color: white;
    font-family: "Gilroy";
    text-decoration: underline;
    margin-top: 0;
}

.row {
    background-color: var(--background-alt2);
    border: 1px solid var(--border);
    border-radius: 0;
    display: -webkit-flex;
    display: flex;
    margin: 10px;
    padding: 10px;
    /* width: 95%; */
    box-shadow: none;
}

@media (max-width: 1050px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.column {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: "Roboto";
    padding: 10px;
    text-align: center;
}

.button {
    border: 1px solid var(--border);
    background-color: transparent;
    color: var(--foreground);
    text-align: center;
    font-size: 20px;
    width: 200px;
    transition: all 0.2s;
    cursor: pointer;
    font-family: "Raleway";
    overflow: hidden;
    height: 30px;
    position: sticky;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -50px;
    transition: 0.2s;
}

.button:hover {
    transform: none;
    box-shadow: none;
}

.button:hover span {
    padding-right: 25px;
    color: var(--text-alt);
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: unset;
    right: 0;
    width: 0%;
    /*     height: 0%; */
    background-color: transparent;
    transition: all 0.1s ease-out;
    z-index: -1;
}

.button:hover:before {
    height: 100%;
    width: 100%;
    border-radius: 0;
    opacity: 1;
    /* background-color: var(--highlight); */
    background: var(--button-gradient);
}

.button:hover span:after {
    opacity: 1;
    right: 0px;
    color: var(--text-dark);
}